{{- $serverless := (eq .serverless "yes")}}

resources:
  jobs:
    integration_test_job:
      name: "{{.project_name}} Integration Test"

      parameters:
        - name: scenario
          default: basic
        - name: dev_id
          default: ""

      tasks:
        - task_key: seed
          notebook_task:
            notebook_path: ../tests/integration/seed.py
            base_parameters:
              config_file_path: ${var.config_file_path}
              env: ${var.env}
              dev_id: "{{ "{{" }}job.parameters.dev_id{{ "}}" }}"
              scenario: "{{ "{{" }}job.parameters.scenario{{ "}}" }}"
              job_run_id: "{{ "{{" }}job.run_id{{ "}}" }}"
{{- if $serverless}}
          environment_key: default
{{- else}}
          job_cluster_key: test_cluster
          libraries:
            - whl: ../dist/*.whl
{{- end}}

        - task_key: run_pipeline
          depends_on:
            - task_key: seed
          run_job_task:
            job_id: ${resources.jobs.{{.project_name}}_pipeline.id}
            job_parameters:
              dev_id: "{{ "{{" }}job.parameters.dev_id{{ "}}" }}"

        - task_key: verify
          depends_on:
            - task_key: run_pipeline
          notebook_task:
            notebook_path: ../tests/integration/verify.py
            base_parameters:
              config_file_path: ${var.config_file_path}
              env: ${var.env}
              dev_id: "{{ "{{" }}job.parameters.dev_id{{ "}}" }}"
              scenario: "{{ "{{" }}job.parameters.scenario{{ "}}" }}"
              job_run_id: "{{ "{{" }}job.run_id{{ "}}" }}"
{{- if $serverless}}
          environment_key: default
{{- else}}
          job_cluster_key: test_cluster
          libraries:
            - whl: ../dist/*.whl
{{- end}}

        - task_key: teardown
          depends_on:
            - task_key: verify
          run_if: ALL_DONE
          notebook_task:
            notebook_path: ../tests/integration/teardown.py
            base_parameters:
              config_file_path: ${var.config_file_path}
              env: ${var.env}
              dev_id: "{{ "{{" }}job.parameters.dev_id{{ "}}" }}"
              scenario: "{{ "{{" }}job.parameters.scenario{{ "}}" }}"
              job_run_id: "{{ "{{" }}job.run_id{{ "}}" }}"
{{- if $serverless}}
          environment_key: default
{{- else}}
          job_cluster_key: test_cluster
          libraries:
            - whl: ../dist/*.whl
{{- end}}

{{- if $serverless}}
      environments:
        - environment_key: default
          spec:
            environment_version: "5"
            dependencies:
              - ../dist/*.whl
{{- else}}
      job_clusters:
        - job_cluster_key: test_cluster
          new_cluster:
            spark_version: {{template "latest_lts_dbr_version"}}
            node_type_id: {{smallest_node_type}}
            data_security_mode: SINGLE_USER
            num_workers: 0
{{- end}}
